<img src="data/images/div/lecture-notebook-header.png" />

# Preparation: Pandas

Structured data typically comes in form of a matrix or table with rows representing individual data items and columns the attributes (or features) of a data item. For this kind of table-like data, the [`pandas`](https://pandas.pydata.org/) library represents a versatile and powerful data analysis tool for Python.

The `pandas` library is a powerful and widely used open-source data manipulation and analysis tool for Python. It provides data structures and functions specifically designed to handle structured data, making it an essential tool for data cleaning, exploration, and analysis. Here are the key purposes and benefits of the pandas package:

* **Tabular data handling:** The primary purpose of pandas is to handle structured data in the form of tables or data frames. It offers the DataFrame data structure, which is a two-dimensional labeled data structure with columns of potentially different data types. This allows for efficient storage, retrieval, and manipulation of structured data, similar to working with spreadsheets or SQL tables. Pandas supports importing and exporting data from various file formats, including CSV, Excel, SQL databases, and more, making it easy to read and write data from different sources.

* **Data cleaning and preprocessing:** Pandas provides a wide range of functions and methods for data cleaning and preprocessing tasks. It allows for handling missing data, data type conversion, data normalization, deduplication, reshaping, merging, and joining data sets, and much more. These functionalities enable users to transform and clean their data efficiently, ensuring it is in the desired format for subsequent analysis or modeling tasks.

* **Data exploration and analysis:** Pandas offers extensive tools for data exploration, analysis, and manipulation. It provides functionalities for filtering and selecting data, sorting, grouping, aggregating, and summarizing data, performing statistical calculations, computing descriptive statistics, and visualizing data using built-in plotting capabilities. These features enable users to gain insights from their data, discover patterns, and conduct exploratory data analysis, empowering informed decision-making.

* **Integration with other libraries:** Pandas seamlessly integrates with other libraries in the Python ecosystem, such as NumPy, Matplotlib, scikit-learn, and more. It serves as a bridge between data manipulation and analysis tools, allowing for seamless interoperability. This integration enables users to leverage the functionalities of other libraries alongside pandas, creating a powerful environment for data analysis, machine learning, and scientific computing.

* **Efficiency and performance:** Pandas is designed to efficiently handle large datasets and optimize performance. It utilizes vectorized operations and optimized algorithms, implemented in highly efficient C or Cython code, to achieve faster execution times. Additionally, pandas provides various mechanisms for parallelization and optimized memory usage, enabling users to work with large datasets without sacrificing performance.

In summary, the pandas package offers a comprehensive set of tools for data manipulation, cleaning, exploration, and analysis. Its tabular data structures, extensive functionality, integration with other libraries, and focus on performance make it a valuable asset for data scientists, analysts, and researchers working with structured data in Python. Pandas simplifies the data processing workflow, accelerates data analysis tasks, and enables efficient data-driven decision-making.

Throughout this notebook, we use the publicly available [Titanic Dataset](https://www.kaggle.com/c/titanic) for the examples.

## Setting up the Notebook

### Import Required Packages

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

---

## Reading Files

The most important concept in pandas is the [`DataFrame`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) which wraps the table-like data an provides all the methods for manipulating and analyzing the data. A common way to create a DataFrame is via reading files, e.g., files with comma-separated (CSV) or tab-separated (TSV) values.

The method [`pandas.read_csv()`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) makes this very easy. It is very configurable with a large number of input parameters to fit the structure of the input file. The Titanic Dataset comes as as normal CSV file, so reading to file into a DataFrame is a breeze.

In [ ]:
df = pd.read_csv('data/datasets/titanic/titanic.csv', index_col=False, sep=',')

# Shows the first 5 rows
df.head()

The Titanic dataset is a popular dataset used in data mining and machine learning. It provides information about the passengers aboard the RMS Titanic, which famously sank after hitting an iceberg on its maiden voyage in 1912. The dataset is often used for predictive modeling tasks, such as predicting whether a passenger survived or not based on various features. The Titanic dataset typically includes the following information for each passenger:

* `PassengerId`: A unique identifier for each passenger.
* `Survived`: Whether the passenger survived (1) or not (0).
* `Pclass`: The passenger's class (1st, 2nd, or 3rd).
* `Name`: The passenger's name.
* `Sex`: The passenger's gender.
* `Age`: The passenger's age.
* `SibSp`: The number of siblings/spouses aboard the Titanic.
* `Parch`: The number of parents/children aboard the Titanic.
* `Ticket`: The ticket number.
* `Fare`: The fare paid for the ticket.
* `Cabin`: The cabin number.
* `Embarked`: The port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).

The goal of analyzing the Titanic dataset is typically to build a model that can predict the survival outcome (survived or not) based on the available features. This involves data preprocessing, feature engineering, model training, and evaluation. The dataset is often used to introduce concepts in data mining and machine learning due to its relatively small size and clear target variable.

The Titanic dataset serves as a practical and illustrative example for understanding data mining techniques, including data exploration, feature selection, handling missing values, encoding categorical variables, model building, and evaluation. It has become a common starting point for beginners in the field to gain hands-on experience with data analysis and predictive modeling.

---

## Basic Insights

The first step in data mining is typically to get to know the data to be analyzed. This task is called Exploratory Data Analysis (EDA) -- you can check out the dedicated EDA notebook for more details. `pandas` provides many methods to help with performing EDA. Let's have a look at a couple of examples.

### Data Types

When creating a DataFrame from an input file, `pandas` tries to infer the data type of each attribute. The information about the attributes' data types are accessible via [`pandas.DataFrame.dtypes`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html). pandas supports a  [`list of data types`](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#basics-dtypes).

In [ ]:
df.dtypes

An alternative to check the derived data types is to call [`pandas.DataFrame.info`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) to get a summary of a DataFrame.

In [ ]:
df.info()

As you notice, many attributes have been assigned the data type `object` which represents text (i.e., strings) or mixed numeric and non-numeric values.

### Basic Statistics

The method [`pandas.DataFrame.describe()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) provides basic statistics (incl. count, mean, standard deviation, min/max value) for all numerical attributes.

In [ ]:
df.describe()

**Important:** Note that this information is not necessarily meaningful. For example, `PassengerId`, although a number, is a categorical attribute (i.e., just a unique label for each passenger), so calculating the mean does not make sense. Knowing the type of an attribute -- here, type refers to categorical, ordinal, interval or ratio -- requires semantic understanding of the data that `pandas` if course does not have.

### Visalization

`pandas` also comes with a variety of in-built methods to visualize the data, and integrates well with libraries such as `matplotlib`. This is very useful for EDA.

For example, in the code cell below, we can have a look at the distribtion of the values for `AGE` using the method [`hist()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.hist.html) (histogram).

In [ ]:
plt.figure()
df.hist(column='Age', bins=50)
plt.title('Histogram of "Age"')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

Instead of visualizing the raw data, we can also plot DataFrames derived from the raw data -- we cover the concept of querying DataFrames further below in the notebook. Let's assume we want to plot how many passengers embarked from the different ports using a pie chart. We can accomplish this by grouping and counting the values for `Embarked` and use an in-built method of `pandas` to plot the pie chart.

In [ ]:
plt.figure()
df.groupby(['Embarked'])['Embarked'].count().plot.pie(autopct='%1.0f%%')
plt.show()

---

## Selecting Data from a Pandas Dataframe

It is very common that not all the data in a DataFrame is relevant for any subsequent analysis. `pandas` supports a wide range of methods for [indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html). In the following, we cover some of the more commonly used methods.

### Selecting a Single Column

If the columns in the DataFrame have names, we can use these names to access the corresponding columns.

In [ ]:
#age = df['Age'] # Same effect
age = df.Age

age.head()

A single column is [`pandas.Series`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

In [ ]:
print(type(age))

The columns of a DataFrame do not have to be named. For example, not every CSV file contains a headliner with the attribute/column names. In this case, the columns can be indexed using their position in the DataFrame, similar Python lists or NumPy arrays. Integer-based indexing requires [`pandas.DataFrame.iloc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html).

In [ ]:
age = df.iloc[:,5] # Age is the 6th column (the columns are 0-indexed)

age.head()

### Selecting Multiple Columns

Instead of selecting a single column one can also select multiple columns by specifying a list of column names. The return value will be a new DataFrame (i.e., not a Series) containing only the respective columns.

In [ ]:
df_age_class = df[['Age', 'Pclass']]

df_age_class.head()

Again one can use `iloc` to achieve the same result which is particularly needed if the columns have no names because the csv file did not come with any header. Since we want to index to columns -- that is, the second dimension of the DataFrame, we need splicing to cover all indexes of the first dimension -- that is, all the rows in the DataFrame, similar to indexing for NumPy arrays.

In [ ]:
df_age_class = df.iloc[:,[5,2]]

df_age_class.head()

**Side note:** The method of selecting multiple attributes can also be used to reorder the columns. Note that in the original data, `Pclass` comes before `Age`, but we switch the order during the selection process.

Instead of specifying all attributes that should form a new DataFrame, there is also the alternative to specify all attributes that should be removed from the DataFrame. This is of course more convenient when a DataFrame contains a larger number of attributes and only a small number of them are not used for the analysis.

In [ ]:
df_no_age_class = df.drop(columns =['Age', 'Pclass'])

df_no_age_class.head()

Again, here is the alternative way using the column indices instead of the names.

In [ ]:
dropped_columns = [2, 5]

df_no_age_class = df.drop(columns=df.columns[dropped_columns])

df_no_age_class.head()

### Selecting Rows


#### Selecting Rows via Indexing

The most obvious way to select or multiple rows is via indexing. However, the indexing is not quite as intuitive as it is not fully consistent with Python indexing convention. One the one hand, getting, e.g., the first 3 rows works as expected:

In [ ]:
df_sample = df[0:3]

df_sample.head()

However, trying the obvious way to select a single row will result in an error.

In [ ]:
#df[0]

The correct way is again to use `iloc` to explicitly specify indexing using integers.

In [ ]:
df_sample = df.iloc[[0]]

df_sample.head()

Of course, `iloc` also supports splices.

In [ ]:
df_sample = df.iloc[0:3]

df_sample.head()

#### Selecting Rows via Boolean Indexing

Much more useful are methods to select rows based on filter conditions, typically by specifying the values of attributes. For example, let's get all minors, i.e., all passengers of age 17 or younger.

In [ ]:
df[df.Age < 18].head()

We can of course combine multiple criteria. For example, let's get all first class passengers younger than 18.

In [ ]:
df[(df.Age < 18) & (df.Pclass == 1)].head()

Using [`isin()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html#pandas.Series.isin) we can also specify a list of valid values for an attribute. The example below extracts all passengers of age 20, 30, or 40 -- probably not a really meaningful selection but it just for illustration.

In [ ]:
df[df.Age.isin([20,30,40])].head()

`pandas` also comes with a wider range of boolean methods that allow for indexing and selecting rows based on attribute values. For example, [`pandas.Series.str.contains`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html) checks if pattern or regex is contained within a string. These can be simple substring patterns...

In [ ]:
df[df.Name.str.contains('Miss.')].head()

...or arbitrarily complex regex patterns. The example below selects all passengers that have book 2 cabins on Level C. Note that this might not be the best regex to accomplish this but it works.

In [ ]:
df[df.Cabin.str.contains(r'^C[0-9\s]*C[0-9]*$', na=False)].head()

---

## Querying DataFrames

Selecting rows based on attributes values is already a form of querying a DataFrame -- analogous to basic `WHERE` clauses in SQL queries. However, `pandas` also supports more advanced methods that mimic grouping and aggregating similar to SQL queries.

### Basic Aggregation Operations

**Count -- Number of Attribute Values**

In [ ]:
df.Age.count()

**Minimum and Maximum Value of an Attribute**

In [ ]:
df.Age.min()

In [ ]:
df.Age.max()

Note that this also works for string values since strings can be sorted lexicographically.

**Summing all Attribute Values**

In [ ]:
df.Fare.sum()

In [ ]:
#df.Name.sum() # This works as well: summing up strings means concatenating all strings

**Mean and Standard Deviation**

In [ ]:
df.Age.mean()

In [ ]:
df.Age.std()

The mean and standard deviation are of course only defined over numerical values and these two methods will throw an error when applied to a string attribute.

Naturally, this aggregation method can be used in combination with different filter conditions. For example, we can compare the mean ages and the standard deviations for 1st, 2nd, and 3rd class passengers.

In [ ]:
for c in [1, 2, 3]:
    df_class = df[df.Pclass == c]
    print("Class {}: Mean={:.2f}, StdDev={:.2f}".format(c, df_class.Age.mean(), df_class.Age.std()))

### Grouping & Aggregation

Basic aggregation works across all data samples, and when we want to perform aggregation on subsets, we can use multiple independent aggregation queries as a default solution -- see the example above for calculating the mean and standard deviation for each passenger class. However, these independent queries involve repeating the same processing steps several times. For example, we have to go over the DataFrame above 3 times to extract all passengers of the same class. Particularly for large datasets with many required queries, this can significantly affect the overall performance in a negative way.

But again, `pandas` got us cover and supported grouping, i.e., the specification of subsets of the data over which aggregation methods applied (similar to `GROUP BY` statements in SQL queries). Using grouping, we can calculate the means and standard deviation for all 3 passenger classes using a single query.

When applying only one aggregation function, the syntax is pretty simple.

In [ ]:
df.groupby('Pclass')['Age'].mean()

When applying multiple aggregation functions over the same groups, the most practical approach is via "named aggregation" where you define a name of each resulting aggregation that will form your result DataFrame. Using named aggregation we can get the means and standard deviations using a single query.

In [ ]:
df.groupby(['Pclass']).agg(mean_Age=('Age', 'mean'), std_Age=('Age', 'std'))

As one would expect, we can define groups over more than one attribute at a time. Let's extend our example to form groups with respect to the age as well as whether a passenger has survived or not.

In [ ]:
df.groupby(['Pclass', 'Survived']).agg(mean_Age=('Age', 'mean'), std_Age=('Age', 'std'))

---

## Data Manipulation

Apart from just querying a DataFrame to analyze the data, `pandas` also provides many methods to manipulate the data as part of preprocessing for subsequent analyses. Data manipulation can refer to changing existing values (e.g., rounding, scaling, normalizing) but also by creating new columns/features, typically derived from existing feature values. Data preprocessing is a topic of the first lecture, and there will be a dedicated lecture notebook that performs common preprocessing steps using `pandas`. Hence, we can skip a detailed discussion here.

---

## Summary

Pandas is a powerful Python library for data mining. Its purpose is to handle structured data, providing efficient data manipulation and preprocessing capabilities. It simplifies tasks like data cleaning, exploration, and analysis, offering functions for filtering, sorting, grouping, and summarizing data. Pandas seamlessly integrates with other libraries, enabling interoperability and extending its functionality. Its versatility and user-friendly interface make it a go-to tool for extracting insights from data.

A good grasp of the methods provided by pandas can make life very easy as many queries and preprocessing steps can be implemented using very few lines of code. Similar to NumPy -- in fact, Pandas internally relies on NumPy -- the underlying algorithms are not implemented in Python but in C/C++ making the execution typically much faster compared to the runtime of the same algorithms implemented in native Python. This notebook and the EDA notebook cover only a small subset of the feature set of pandas, and it is worthwhile to check the documentation in case for more specific task when handling your own datasets.